body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: whitesmoke;
}

/* Story 2: Header styling */
header {
    background-color: blue;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 35px;
    box-shadow: 0 2px 5px dimgray;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

main {
    max-width: 950px;
    margin: 0 auto; ;
    padding: 35px;
}

/* Story 3: About section styling */
#about {
    background-color: white;
    padding: 35px;
    margin: 35px;
    border: 8px;
    box-shadow: 0 2px 10px dimgray;
}

#about h2 {
    color: black;
    border-bottom:2px solid blue;
    padding-bottom: 10px;
}

#about p {
    color: gray;
    line-height: 1.5;
    font-size: 15px;
}

/* Story 4: Contact section styling */
#contact {
    background-color: white;
    padding: 35px;
    margin: 35px;
    border: 8px;
    box-shadow: 0 2px 10px dimgray;
}

#contact h2 {
    color: black;
    border-bottom: 3px solid blue;
    padding-bottom: 10px;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin: 1rem 0;
    font-size: 18px;
    color: gray;
}

/* Story 5: Button styling with hover effect */
.contact-button {
    background-color: mediumblue;
    color: white;
    padding: 12px 24px;
    border: 1px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 4px dimgray;
}

.contact-button:hover {
    background-color: lightskyblue;
    box-shadow: 0 5px 10px dimgray;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}